@import "utils";
@import "fonts";
@import "typography";

body {
  background: $c-gray;
  margin: 0;
  font-family: Avenir, sans-serif, Roboto;
}

.header {
  margin-bottom: 39px;

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 15px;
    box-sizing: border-box;
    background: #fff;
    box-shadow: 0 1px 0 #e1e7ed;
  }

  .menu {
    width: 373px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;

    &__links {
      text-decoration: none;
      font-size: 16px;
      line-height: 19px;
      color: #3d4e61;

      &:hover {
        color: black;
      }
    }
  }

  &__img {
    height: 464px;
    width: 100%;
    object-fit: cover;
  }
}

.main {
  display: flex;
  justify-content: center;
}

.form {
  position: sticky;
  top: 30px;
  height: 330px;
  width: 319px;
  padding: 30px 30px 38px;
  box-sizing: border-box;
  background: #fff;
  margin-left: 80px;

  .price {
    font-size: 16px;
    line-height: 22px;
    color: #3d4e61;
    margin-bottom: 39px;
  }

  &__inputs {
    width: 100%;
    height: 50px;
    margin-bottom: 16px;
    border: 1px solid #e1e7ed;
    box-sizing: border-box;
    border-radius: 3px;

    &::placeholder {
      font-size: 16px;
      line-height: 22px;
      color: #3d4e61;
      border-radius: 2px;
    }
  }

  &__button {
    background: #fd5c63;
    cursor: pointer;
    border-radius: 4px;
    height: 50px;
    width: 270px;
    color: #fff;
    font-size: 16px;
    line-height: 22px;
    border: none;
  }
}

.content {
  width: 491px;

  &__heading {
    font-size: 36px;
    line-height: 42px;
    color: #3d4e61;
    margin-top: 0;
  }

  &__subheading {
    font-size: 16px;
    line-height: 19px;
    color: #687c94;
  }

  &__detailes {
    font-size: 16px;
    line-height: 19px;
    color: #3d4e61;
  }

  &__description {
    font-size: 16px;
    line-height: 24px;
    color: #3d4e61;
  }

  &__contact {
    > a {
      text-decoration: none;
      font-size: 16px;
      line-height: 19px;
      font-weight: bold;
      color: #3d4e61;
    }
  }

  &__amenities {
    font-size: 20px;
    line-height: 23px;
    color: #3d4e61;
    font-weight: bold;
    margin-top: 45px;

    &_details {
      font-size: 16px;
      line-height: 19px;
      color: #3d4e61;
    }

    &_link {
      text-decoration: none;
      font-weight: bold;
      font-size: 16px;
      line-height: 19px;
      color: #3d4e61;
      margin-bottom: 66px;
    }
  }

  &__reviews {
    font-size: 28px;
    line-height: 33px;
    color: #3d4e61;
    font-weight: bold;
    margin-top: 66px;
  }

  .person {
    display: grid;
    grid-template-columns: 50px 164px;
    grid-gap: 21px;

    &__avatar {
      width: 50px;
      height: 50px;
      border-radius: 25px;
      background-color: #c4c4c4;
    }

    .name {
      font-size: 20px;
      line-height: 27px;
      color: #3d4e61;
      font-weight: bold;
    }

    .date {
      font-size: 14px;
      line-height: 16px;
      color: #3d4e61;
    }
  }

  > p {
    font-size: 16px;
    line-height: 19px;
    color: #3d4e61;
  }

  .host {
    font-family: Roboto;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    color: #3d4e61;
    margin-top: 66px;

    &_adress {
      font-size: 14px;
      line-height: 16px;
      color: #3d4e61;
    }

    &_info {
      font-size: 16px;
      line-height: 19px;
      color: #3d4e61;
    }

    &_contact {
      border: 1px solid #118488;
      box-sizing: border-box;
      border-radius: 4px;
      font-size: 16px;
      cursor: pointer;
      line-height: 22px;
      color: #118488;
      height: 50px;
      width: 150px;
      margin-bottom: 75px;
    }
  }
}

.footer {
  background-color: #fff;
  box-shadow: 0 -1px 0 #e1e7ed;
  padding: 43px 0;
  display: flex;
  justify-content: center;

  &__nav {
    width: 840px;
    display: flex;
    justify-content: space-between;
  }

  &__menu {
    list-style-type: none;

    &__items {
      &:not(:last-child) {
        margin-bottom: 9px;
      }

      &:first-child {
        margin-bottom: 20px;
      }
    }

    &__links {
      text-decoration: none;
      color: #3d4e61;
      font-size: 16px;
      line-height: 19px;

      &_1 {
        font-weight: bold;
      }
    }
  }
}

@media screen and (max-width: 699px) {
  .main {
    flex-direction: column;
    align-items: center;
  }

  .form {
    order: 1;
    margin: 0 0 50px;
    position: static;
  }

  .content {
    order: 2;
  }
}
